@import url('https://fonts.googleapis.com/css2?family=BBH+Hegarty&display=swap');
@import url('https://fonts.googleapis.com/css2?family=BBH+Hegarty&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Geom:ital,wght@0,300..900;1,300..900&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}
.bebas-neue-regular {
  font-family: "Bebas Neue", sans-serif;
  font-weight: 400;
  
}
.divisoria a{
    color: white;
}

.container {
    width: 90%;
    max-width: 1300px;
    margin: 0 auto;
}
.divisoria{
    background-color: #466e3b;
    width: 100%;
    height: 50px;
    display: flex;
    text-align: center;
    justify-content: center;
    gap: 40px;

}
.divisoria p{
    align-items: center;
    display: flex;
    color: white;
    font-size: 20px;

}
/* ----------- CABEÇALHO SUPERIOR ----------- */
.top-header {
    background: #ffffff;
    padding: 15px 0;
    border-bottom: 2px solid #e5e5e5;
     position: sticky;
    top: 0;
    z-index: 1000;
}

.top-header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
/* From Uiverse.io by cssbuttons-io */ 
button {
 position: relative;
 border: none;
 background: transparent;
 padding: 0;
 cursor: pointer;
 outline-offset: 4px;
 transition: filter 250ms;
 user-select: none;
 touch-action: manipulation;
}

.shadow {
 position: absolute;
 top: 0;
 left: 0;
 width: 100%;
 height: 100%;
 border-radius: 12px;
 background: hsl(0deg 0% 0% / 0.25);
 will-change: transform;
 transform: translateY(2px);
 transition: transform
    600ms
    cubic-bezier(.3, .7, .4, 1);
}

.edge {
 position: absolute;
 top: 0;
 left: 0;
 width: 100%;
 height: 100%;
 border-radius: 12px;
 background: linear-gradient(
    to left,
    hsl(340deg 100% 16%) 0%,
    hsl(340deg 100% 32%) 8%,
    hsl(340deg 100% 32%) 92%,
    hsl(340deg 100% 16%) 100%
  );
}

.front {
 display: block;
 position: relative;
 padding: 12px 27px;
 border-radius: 12px;
 font-size: 1.1rem;
 color: white;
 background: hsl(345deg 100% 47%);
 will-change: transform;
 transform: translateY(-4px);
 transition: transform
    600ms
    cubic-bezier(.3, .7, .4, 1);
}
/* botao*/
button:hover {
 filter: brightness(110%);
}

button:hover .front {
 transform: translateY(-6px);
 transition: transform
    250ms
    cubic-bezier(.3, .7, .4, 1.5);
}

button:active .front {
 transform: translateY(-2px);
 transition: transform 34ms;
}

button:hover .shadow {
 transform: translateY(4px);
 transition: transform
    250ms
    cubic-bezier(.3, .7, .4, 1.5);
}

button:active .shadow {
 transform: translateY(1px);
 transition: transform 34ms;
}

button:focus:not(:focus-visible) {
 outline: none;
}
/* botao*/
.logo-header {
    width: 180px;
}
.contato {
    
    display: flex;
    align-items: center; /* alinha verticalmente */
    justify-content: flex-end; /* joga tudo pra direita */
    gap: 10px; /* espaço entre a imagem e o texto */
    font-family:Verdana, Tahoma, sans-serif
    
}



.contact-info svg{
    width: 25px;
    height: 25px;
    align-items: center;
    fill: #268d3d;
    margin-right: 10px;


}

.contact-info p{    
    font-size: large;
    display: flex;
    align-items: center; /* alinha ícone e texto */
    gap: 3px;            /* espaço entre ícone e número */
    margin: 6px;   
    font-family: "Geom", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400px;
  font-style: bo;
    }



/* Lado direito */
.right-section {
    text-align: right;
}

.right-section .title {
    font-size: 18px;
    font-weight: bold;
    color: #b5275f;
}

.phone {
    font-size: 16px;
    margin-top: 3px;
}

#atendimento{
    display: none;
}

a{
    text-decoration: none;
    color: black;
}

/* modaaal*/
 /* Fundo escuro com blur */
  body.modal-open::before {
    content: "";
    position: fixed;
    top: 0; left: 0;
    width: 100%; height: 100%;
    background: rgba(0,0,0,0.5);
    backdrop-filter: blur(3px);
    z-index: 5;
  }

  /* Modal centralizado */
  .modal {
    position: fixed;
    top: 50%; left: 50%;
    transform: translate(-50%, -50%);
    background: #fff;
    padding: 25px;
    border-radius: 9px;
    width: 100%;
    max-width: 500px;
    z-index: 10;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
  }

  .modal h2 {
    margin-bottom: 15px;
  }

.modal input:focus,
.modal textarea:focus,
.modal select:focus {
    border: 2px solid #2c7a2c !important; /* verde */
    outline: none !important;
    box-shadow: 0 0 4px rgba(44, 122, 44, 0.4); /* leve glow verde */
}

  .modal input, .modal textarea, .modal select {
    width: 100%;
    padding: 8px 10px;
    margin-bottom: 12px;
    border: 0.5px solid #e5e5e5;
    border-radius: 5px;
    font-size: 16px;
  }
  

  .modal textarea { resize: vertical; }

  .modal button {
    background: #2c7a2c;
    color: #fff;
    border: none;
    padding: 10px;
    width: 100%;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
  }

  .modal button:hover {
    background: #246624;
  }

  .close-btn {
    position: absolute;
    top: 10px; right: 15px;
    cursor: pointer;
    font-size: 18px;
  }

  .price-display {
    font-weight: bold;
    margin-bottom: 12px;
    color: #2c7a2c;
  }

  @media (max-width: 768px) {
    .top-header-content {
        
        
        flex-direction:row;
        text-align: right;
        gap: 15px;
        
    }
     #atendimento{
        display: none;
    }
    .divisoria p{
    align-items: center;
    display: flex;
    color: white;
    font-size: 15px;
    font-style: bold;

}


.top-header-content button{
    display: none;
}

.logo-header{
    height: 60px;
    width: 155px;
}

.logohora{
    display: none;
}


.modal{
    gap: 20px;
    padding-top: -70px;
}


.contact-info p{
    gap: 0px;
    font-size: 21px;
    height: 21px;
    margin-top: 2px;

    
}
.contact-info svg{
    gap: 0;
    margin-right: 10px;
    height: 30px;
    width: 30px;
}
#contato1{
    display:none
}
    .right-section {
        text-align: center;
        margin-top: 20px;
    }
    
    .info-items {
    animation: slide 15s linear infinite; /* VELOCIDADE DO LOOP */
}

    .item {
        justify-content: center;
        text-align: center;
    }
   .banner {
    width: 100%;
    max-width: 100%;
    height: auto;
    overflow: hidden;
}

@keyframes slide {
    from {
        transform: translateX(0);
    }
    to {
        transform: translateX(-50%); /* metade porque duplicamos os itens */
    }
}
.info-bar{
    position: sticky;
    top: 0px;
    z-index: 0;
}

#x{
    display: block;
      display: flex;
    align-items: center;
    gap: 8px;
    text-align: left;
    flex: 1 1 180px;
    margin: 10px 0;
}
.banner img {
    width: 100%;
    max-width: 100%;
    height: auto;
    display: block;
}

.divisoria-contato svg{
    height: 25px;
    width: 25px;
}
.divisoria a{
    color: white;
}
.divisoria-contato p{
    font-size: 15px;
}

.divisoria-contato button{
    font-size: 12px;
}

}

.modal{
    gap: 20px;
    margin-top: 40px;
}

/* celular menor ainda ------------------------------- */
@media (max-width: 450px) {
    .top-header-content {
        flex-direction:row;
        text-align: right;
        
    }
.top-header-content button{
    display: none;
}

.logo-header{
    height: 50px;
    width: 140px;
}

.logohora{
    display: none;
}
/* ---------------------------------MODAAAALLL------------------------------------- */

/* MODAL */
.modal{
    gap: 20px;
    padding-top: -70px;
}


.contact-info p{
    gap: 0px;
    font-size: 15px;
    height: 1em;
    

    
}
.contact-info svg{
    gap: 0;
    margin-right: 10px;
    height: 28px;
    width: 28px;
}
.divisoria-contato p{
    display: flex;
    flex-direction: row;
    font-size: small;
}


.divisoria-contato button{
    display: flex;
    align-items:end;
    padding:5;
}
}